/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Exo 2", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

  scroll-behavior: smooth;
  scroll-padding-top: 2.5rem; 

}
/* Variables */
:root {
  --main-color: #6da975;
  --second-color: #e4f6e7;
  --yellow-color: #ffa700;
  --yellow-alter: #ffeac2;
  --text-color: #081035;
  --bg-color: #fff;
  --text-neutral: #747893;
  --text-neutral-2: #ecedf4;
  --text-neutral-3: #f5f6f9;
}
/* Basic Styiling */
a {
  text-decoration: none;
}
img {
  width: 100%;
}
section {
  padding: 3rem 0 2rem;
}
/* Container */
.container {
  max-width: 1070px;
  margin: auto;
  width: 100%;
}
.blind {
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 200;
}
header div h1 a {
  display: block;
  aspect-ratio: 138 / 35;
  background: url(../images/logo.png) no-repeat;
  background-size: cover;
  width: 10rem;  
  overflow: hidden;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color);
  padding: 10px 12px;
  border-radius: 5rem;
  box-shadow: 0 6px 64px 0 hsla(221, 47%, 31%, 0.06);
}
.log img {
  width: 120px;
}
.navbar {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.nav-link {
  font-size: 0.88rem;
  color: var(--text-color);
  font-weight: 500;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link:hover {
  color: var(--text-neutral);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-right {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.nav-right i {
  font-size: 18px;
  background: var(--text-neutral-3);
  color: var(--text-color);
  padding: 8px;
  border-radius: 50%;
}
.login-btn {
  background: var(--main-color);
  color: var(--bg-color);
  padding: 8px 14px;
  border-radius: 5rem;
  font-size: 0.9rem;
}

.login-btn:hover {
  background: var(--text-color);
  transition: background .4s ease-in-out;
}
.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  cursor: pointer;
  padding: 10px;
  background: var(--main-color);
  border-radius: 50%;
  z-index: 200;
  transition: 0.3s;
}
.menu-icon div {
  display: block;
  background: var(--bg-color);
  height: 2px;
  width: 20px;
  transition: 0.3s;
}
.move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px) ;
}
.move .line2 {
  opacity: 0;
}
.move .line3 {
  transform: rotate(45deg) translate(-5px, -5px) ;
}
.hero {
  width: 100%;
  position: relative;
}
.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  z-index: -1;
}
.hero-content {
  margin-top: 4rem !important;
  text-align: center;
}
.hero-content h2 {
  font-size: 1.6rem;
}
.hero-content h2 span {
  color: var(--main-color);
}
.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0.5rem;
}
.btn {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  background: var(--text-color);
  color: var(--bg-color);
  padding: 8px 14px;
  border-radius: 0.9rem;
}
.btn span {
  font-size: 0.9rem;
}
.btn img {
  width: 20px;
}
.btn:hover {
  background: var(--main-color);
  transition: background 0.4s ease-in-out;
}
.hero-img img {
  max-width: 100%;
  mix-blend-mode: darken;
}
.category {
  position: relative;
}
.category a {
  padding: 7px;
  background: var(--text-neutral-3);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -27px;
  border-radius: 50%;
  z-index: 4;
} 
.category a img {
  width: 30px;
}
.category-content {
  position: relative;
}
.category-content span {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--main-color);
  height: 200px;
  width: 100%;
  border-radius: 2.5rem;
  z-index: -1;
  overflow: hidden;
}
.category-img-1 {
  width: 250px;
  position: absolute;
  right: 0;
  bottom: 20px;
}
.category-img-2 {
  width: 250px;
  position: absolute;
  left: 0;
  bottom: 20px;
}
.category-content h2{
  text-align: center;
  margin: 0 0 1rem !important;
  color: var(--bg-color);
  padding-top: 2rem;
}
.categorySwiper {
  max-width: 80%;
}
.category-box {
  background: var(--bg-color);
  border-radius: 1.5rem;
  text-align: center;
  padding: 14px;
}
.category-box img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  object-position: center;
}
.category-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5px;
  color: var(--text-color);
}
.swiper-btn {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 1rem !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin: 0 0 0 10px;
}
.swiper-button-next {
  background: url(../images/right-arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background: url(../images/left-arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev::after {
  display: none;
}
.product-desc {
  min-width: 80%;
  width: 100%;
  text-align: center;
  margin: auto auto 2rem auto;
}
.product-content {
  display: grid;
  grid-template-columns: repeat(3,250px);
  justify-content: space-between;
  gap: 2rem;
  background: var(--second-color);
  border-radius: 1.7rem;
  padding: 40px 60px;
}
.product-box {
  background: var(--bg-color);
  padding: 20px;
  border-radius: 1.7rem;
  position: relative;
}
.product-box span {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 0.88rem;
  padding: 4px 10px;
  border-radius: 2rem;
  border: 1px solid var(--second-color);
  z-index: 2;
}
.product-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.product-box h2 {
  font-size: 1.075rem;
  font-weight: 600;
}
.rating {
  display: flex;
  align-items: center;
  color: var(--yellow-color);
  margin: 10px 0;
}
.p-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price p {
  color: #b2b4c2;
  font-size: 0.94rem;
  text-decoration: line-through;
  margin-bottom: 5px;
}
.price h3 {
  color: var(--main-color);
}
.product-box a i {
  background-color: var(--text-neutral-3);
  color: var(--text-color);
  padding: 8px;
  border-radius: 50%;
  font-size: 20px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.product-box a i:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.backpack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.backpack-content {
  position: relative;
  padding: 40px;
}
.backpack-grid {
  width: 70px;
  position: absolute;
  top: -30px;
  left: -10px;
  z-index: -1;
}
.backpack-content h2 {
  font-size: 2.4rem;
}
.backpack-content h2 span {
  color: var(--main-color);
  text-transform: uppercase;
  position: relative;
}
.backpack-content h2 span::after {
  content: '';
  width: 100%;
  height: 16px;
  background: var(--second-color);
  border-radius: 10px;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.backpack-content p {
  margin: 1rem 0 2rem;
}

.selling-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

















